body {
    margin: 0;
    font-family: Candara, sans-serif;
    margin-top: 50px;
    scrollbar-width: thin;
    scrollbar-color: #424242 #0c0c0c;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #0c0c0c;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 110px;
    right: 20px;
    cursor: pointer;
    background-color: #dddddd;

    border-radius: 3px;
    display: none;
}

#scrollToTopBtn img {
    width: 30px;
    height: 26px;
}

#scrollToTopBtn:hover {
    background-color: #0c0c0c;

}


header {
    height: 50px;
    background-color: #0c0c0c;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header_mobile {
    height: 20px;
    background-color: #0c0c0c;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}


.container_header {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}



footer {
    background-color: #0c0c0c;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: -300px;
    transition: bottom 0.9s ease;
    z-index: 1000;
    height: 90px
}

footer.show {
    bottom: 0;
}

.container_footer {
    font-family: Myriad Pro;
    font-size: 12px;
    color: #666666;


}

.soc_seti {
    height: 12px;
    margin: -5px 10px 28px 0;
}

.container_footer_soc {
    font-family: Myriad Pro;
    font-size: 14px;
    color: white;
    margin: 0 0 0 35px;

}

.container_footer_body {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.container {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 0px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#space {
 padding: 150px 0 0 0;    
}

.container_body {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: flex-start;
    align-items: center;

}

.container_body img {
    width: 100%;
}


#logo {
    width: 130px;
    align-items: center;
    display: flex;
}

#logo_footer {
    width: 83px;
    align-items: center;
    padding: 0 0 15px 0;
}

.dop_menu {
    width: 16px;
    margin: 0px 15px 0px 15px;
}

.black-button {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    color: #0c0c0c;
    border-radius: 0;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    margin: 0 0 2px 0px;
}

.black-button:hover {
    background-color: #0c0c0c;
    border-color: #0c0c0c;
    color: #fff;
}

.black-button_act {
    background-color: #0c0c0c;
    border-color: #0c0c0c;
    color: #fff;
    border-radius: 0;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    margin: 0 0 2px 0px;
}

.black-button_act:hover {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    color: #0c0c0c;
}


nav {
    flex-grow: 1;
    text-align: center;
    align-items: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    margin: 0px 5% 0px 5%;

    /* animation carousel */
}

.carousel-inner {
    transition: transform 3s ease-in-out !important;
}

#contacts_info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-family: Candara, sans-serif;
    font-size: 20px;
    color: black;
}


h6 {
    color: darkgray;
}


#about_info {
    text-align: justify;
    font-family: Candara, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: black;
    max-width: 50%;
    margin: 0 auto;
    padding: 8% 0;
}

#about_info h1 {
    text-align: center;
    margin-bottom: 20px;
}


.in_poster {
    text-align: justify;
    font-family: Candara, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: black;
    max-width: 70%;
    margin: 0 auto;
    padding: 3% 0 6% 0;
}

.img_in_post {
    width: 100%;
    padding: 0 0 4% 0;
}

/*Login*/

#form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-family: Candara, sans-serif;
    font-size: 20px;
    color: black;
    max-width: 60%;
    padding: 15% 0;
}

#container_login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    font-family: Candara, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: black;
    padding: 10%;
    width: 100%;
}



.form-control_g {
    border: 1px solid #000;
    border-radius: 0;
    font-size: 15px;
    font-family: Candara, sans-serif;
    color: black;
    width: 300px;
    padding: 7px;
}

.form-control_g::placeholder {
    color: darkgray;
}


/*errors message*/

.error-message {
    background-color: #0c0c0c;
    color: #fff;
    font-size: 12px;
    border-radius: 0;
    padding: 12px;
    margin: 15px auto;
    width: 50%;
    text-align: center;
}

.error-message strong {
    font-weight: bold;
}


/* constructor */
.container_constructor {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 150px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container_select {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

select {
    width: 250px;
    border: 1px solid #000; 
    border-radius: 0; 
    font-family: Candara, sans-serif; 
    padding: 8px;
    margin: 0;
}

.draw_card {
    width: 200px;
    height: 350px;
    margin: 10px; 
    border: 1px; 
}


.custom-card-style {
    width: 100%;
    height: 100%;
    border: 1px;
    padding: 10px; 
}


.card-img-top {
    border-radius: 0;
    max-height: auto;
    width: 190;
}

.img-container {
    width: 100%;
    max-height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px 20px 5px;
}

.img-container img {
  max-width: 100%;
  max-height: 50%;
  filter: grayscale(100%); 
  transition: filter 0.3s ease; 
}

.img-container:hover img {
  filter: grayscale(0%); 
}

.card_body {
    width: 100%;
    height: 50%;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* draw form*/

#form_draw {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-family: Candara, sans-serif;
    font-size: 20px;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: 15% 0;
}

@media (max-width: 800px) {


    #form_draw {
        flex-direction: column;
        text-align: left;
    }

    #form_draw > div {
        margin-right: 0;
        flex: 1;

    }

    .draw_prev {
        margin: 0 auto 10px;
        padding: 0 0 0 20px;
        display: block;
        max-width: 235px;
    }
    
    .draw_info {
        width: 70%;
    }
    
}

#form_draw > div {
    margin-right: 20px;
    flex: 3;
}

.draw_prev {
    max-height: 396px;
    height: auto;
}

#form_draw > div:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

 #form_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: Candara, sans-serif;
        font-size: 20px;
        color: black;
        max-width: 700px;
        margin: 0 auto;
        padding: 150px 0;
    }


.form-control_d {
    border: 1px solid #000;
    border-radius: 0;
    font-size: 15px;
    font-family: Candara, sans-serif;
    color: black;
    width: 210px;
    padding: 7px;
}

.form-control_d::placeholder {
    color: darkgray;
}

/*404*/
#fzf {
    font-size: 250px;
}