{% extends 'TOBIBOX/base.html' %}
{% load static %}
{% block title %}Конструктор{% endblock %}

{% block content %}
<div class="container_select">
    <form method="get" action="{% url 'constructor' %}">
        <div class="category_filter">
            <select class="select_wind" name="category">
                <option value="" selected>Усі категорії</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == request.GET.category %}selected{% endif %}>{{ category.name_box_category }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary black-button_act">Фільтрувати</button>
        </div>
    </form>
    <div class="search">
            <input type="text" name="search" placeholder="Пошук за назвою" value="{{ request.GET.search }}">
            <button type="submit" class="btn btn-primary black-button_act">Пошук</button>
        </div>
</div>
<div class="container_constructor">
    <div class="row justify-content-center">
        {% for t in info %}
        <div class="draw_card">
            <div class="custom-card-style">
                <div class="img-container">
                    <img src="{{ t.templates_prev.url }}" alt="{{ t.draw_name }}">
                </div>
                <div class="card_body">
                    <h5 class="card-title">{{ t.draw_name }}</h5>
                    <p class="card-text">{{ t.draw_content|truncatechars:40 }}</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'draw' id=t.draw_name %}" class="btn btn-primary black-button">Створити</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary black-button">Створити</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
