{% extends 'TOBIBOX/base.html' %}
{% load static %}
{% block title %}Конструктор{% endblock %}

{% block content %}
<div class="container_constructor">
    <div class="row justify-content-center">
        {% for t in info %}
        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card custom-card-style" style="width: 18rem;">
                <img src="{{ t.templates_prev.url }}" alt="{{ t.draw_name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ t.draw_name }}</h5>
                    <p class="card-text">{{ t.draw_content|truncatewords:5 }}</p>
                    <a href="{% url 'draw' id=t.draw_name %}" class="btn btn-primary black-button">Створити</a> 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
