{% extends 'TOBIBOX/base.html' %}
{% load static %}
{% block title %}{{ info.post_title }}{% endblock %}

{% block content %}
<div class="in_poster">
    <div>
        <div class="card-header">
        </div>
        <div class="card-body">
            <img class="img_in_post" src="{{ info.post_img.url }}" alt="{{ info.post_title }}">
            <h5 class="card-title">{{ info.post_title }}</h5>
            <h6>{{ info.published_date}}</h6>
            <p class="card-text">{{ info.post_content }}</p>
        </div>
    </div>
</div>
{% endblock %}
