{% extends 'TOBIBOX/base.html' %}
{% load static %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div id="contacts_info">
<form method="post" action="{% url 'profile' %}">
   {% csrf_token %}
    <div id="form_login">
     <div class="mb-3">
      <label>Юзернейм</label>
      <input type="text" name="username" class="form-control_g" value="{{ user.username }}" readonly>
    </div>
    <div class="mb-3">
      <label>Прізвище</label>
      <input type="text" name="last_name" class="form-control_g" value="{{ user.last_name }}">
    </div>
    <div class="mb-3">
      <label>Ім'я</label>
      <input type="text" name="first_name" class="form-control_g" value="{{ user.first_name }}">
    </div>
    <div class="mb-3">
      <label>Ел. пошта</label>
      <input type="email" name="email" class="form-control_g" value="{{ user.email }}" readonly>
    </div>
    <div>
        <button  type="submit" class="btn btn-primary black-button">Оновити</button>
        <a href="{% url 'logout' %}" class="btn btn-primary black-button_act">Вийти</a>
    </div>
</div>
</form>
</div>
{% endblock %}
